[access]
	inheritFrom = All-Projects
[project]
	description = ccavenue-payment-gateway is a CCAvenue Payment Gateway integration for node js.
[access "refs/*"]
	owner = group user/riyajk
[access "refs/for/refs/*"]
	read = group user/riyajk
	push = group user/riyajk
	label-Code-Review = -2..+2 group user/riyajk
	label-Verified = -1..+1 group user/riyajk
	rebase = group user/riyajk
	removeReviewer = group user/riyajk
	submit = group user/riyajk
[access "refs/heads/*"]
	read = group user/riyajk
	create = group user/riyajk
	push = +force group user/riyajk
	pushMerge = group user/riyajk
[access "refs/tags/*"]
	push = group user/riyajk
	push = +force group user/riyajk
